<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179468915929-efe4ko8arlbberbenhrlr5abtuucg087.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179468915929-efe4ko8arlbberbenhrlr5abtuucg087</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>179468915929-fuvf84038b3gfti2pkpmbpr8qqf6pgao.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQRTezHcpjQQDV7bQt1nQGfiKRSPII89o</string>
	<key>GCM_SENDER_ID</key>
	<string>179468915929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthProject</string>
	<key>PROJECT_ID</key>
	<string>fir-f7fcf</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-f7fcf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179468915929:ios:d925c4e2bec55229dbdac8</string>
	<key>DATABASE_URL</key>
	<string>https://fir-f7fcf-default-rtdb.firebaseio.com</string>
</dict>
</plist>